
.cardContainer {
  width: 100%;
  border-radius: 8px;
  padding: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: white;
}



.cardHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userPhoto {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.showStatus {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  background: silver;
  border-radius: 50%;
}

.cardTitle {
  font-weight: 200;
  padding: 0px 0px 10px 0px;
}

.circleIcon {
  margin-right: 3px;
}

.cardTags {
  display: flex;
  align-items: center;
  gap: 5px;
}

.tags {
  padding: 2px 8px;
  border-radius: 5px;
  border: 1px solid silver;
}

.moreIcon {
  font-size: 14px;
  color: grey;
}

.dotIcon {
  margin-right: 3px;
  color: grey;
  font-size: 10px;
  font-weight: 600;
}
